.my-site{
    font-family: 'Nunito Sans', sans-serif;
    padding: 100px 0;
    transition: all 0.3s ease;
}

.my-site .title::after{
    font-family: 'Nunito Sans', sans-serif;
}

.my-site .my-site-content{
    margin-bottom: 100px;
}

.my-site .my-site-content .left{
    width: 32%    
}

.my-site .my-site-content .center{
    width: 32%    
}

.my-site .my-site-content .right{
    width: 32%    
}

.my-site .my-site-content a{
    display: flex;
    text-align: center;
    color: black;
}

.my-site .my-site-content a,
.my-site .my-site-content a:visited,
.my-site .my-site-content a:active,
.my-site .my-site-content a:hover{
    text-decoration: none;
}

.my-site .my-site-content .site{

    background-color: white;
    border-radius: 6px;
    padding: 25px 35px;
    transition: all 0.3s ease;
}

.my-site .my-site-content .site img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(255, 246, 161, 0.582);
    transition: all 0.3s ease;
}

.my-site .my-site-content .site-text{
    font-size: 25px;
    font-weight: 600;
}

.my-site .my-site-content p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.my-site .my-site-content .site:hover{
    background-color: lightblue;
    color: white;
    transform: scale(1.05);
}

.my-site .my-site-content .site:hover img{
    border-color: white;
}

